<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Clientes</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <!-- css personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <br>
    <div class="container">
        <h1>Clientes</h1>
        <form class="row g-3 " id="frmCliente">
            <!-- caixa de input usada na pesquisa-->
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputSearch" maxlength="30" spellcheck="false">
            </div>

            <!-- Botão de Pesquisa de cliente CRUD Read-->
            <div class="col-md-6">
                <button type="button" class="btn btn-dark">Buscar</button>
            </div>

            <hr class="border border-dark border-1 opacity-75">

            <!-- id dom mongoDB oculto-->
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputId" placeholder="ID">
            </div>


            <!-- nome do cliente-->
            <div class="col-md-8">
                <label for="inputName" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputName" required maxlength="30" spellcheck="false">
            </div>

            <!-- telefone do cliente-->
            <div class="col-md-4">
                <label for="inputPhone" class="form-label">Telefone </label>
                <input type="tel" class="form-control" id="inputPhone" required maxlength="15" spellcheck="false">
            </div>
            <!-- email cliente-->
            <div class="col-12">
                <label for="inputAddress" class="form-label">E-Mail </label>
                <input type="email" class="form-control" id="inputAddress" required maxlength="15" spellcheck="false">
            </div>

            <!-- botões-->
            <div class="col-12">
                <br>
                <button type="submit" class="btn btn-dark" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-dark" id="btnUpdate">Editar</button>
                <button type="submit" class="btn btn-dark" id="btnDelete">Excluir</button>
                <button type="reset" class="btn" id="btnReset"></button>
            </div>
        </form>
    </div>

    <!-- bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>